/* css tag selector */
div {
  color: aqua
}

/* class tag selector */
.example {
  color: aqua
}

/* id tag selector */
#example {
  color: aqua
}

/* class tag selector when hover */
.example:hover {
  color: red
}

